/*****************************************************************************
 * CURRENT SERIES
******************************************************************************/


/*****************************************************************************
 * MOBILE - BTWEEN 0px - 767px.
******************************************************************************/
#content {
  background: url('../images/body-tile.gif') repeat 50% 0;
  margin: 0 auto; 
  width: 100%;
  h1 {font-size: $h1-font-size; font-family: "HelveticaNeue-Ultralight", "Helvetica", Helvetica, Arial, sans-serif; border-bottom: 1px solid #dcdad3; margin-bottom: 0;}
  h1 + .row {border-top: 1px solid #fff;}
  .series {margin: 15px 0 0; margin-bottom: 20px;
    h2 {font-family: $helvetica-light; color: $primary;}
    .widescreen {border: 4px solid #cbd4d7;}
    h5 {font-size: emCalc(20px);}
    .button {display: block;}
  }
}

/*****************************************************************************
 * TABLET - 768px wide and up. This is where the grid changes.
******************************************************************************/
@media #{$tablet} { 
  #content{
    -webkit-box-shadow:  0px -10px 20px rgba(0,0,0,0.3);
    box-shadow:  0px -10px 20px rgba(0,0,0,0.3);
    .series {margin: 35px 0;
      .large-3 {float: right!important;}
      h5 {margin-top: 65px;} 
    }
  }
}

/*****************************************************************************
 * DESKTOP - 1280px wide and up.
******************************************************************************/
@media #{$desktop} {
  #content {position: relative; 
    h1 {font-size: 2 * $h1-font-size;}
    .series {margin: 35px 0 50px;
      .button {display: inline-block;}
    }
  }
}

/*****************************************************************************
 * LARGE DESKTOP - 1440px wide and up. 
******************************************************************************/
@media #{$large-desktop} {

}

