/*****************************************************************************
 * CONTENT STYLES.
******************************************************************************/


/*****************************************************************************
 * MOBILE - BTWEEN 0px - 767px.
******************************************************************************/
#call-out {text-align: center; background: #e2e2d9;
  .sign-up {text-align: center; padding-top: 30px;
    h3 {text-transform: uppercase; color: #8b8a87; text-shadow: 0px 1px 0px #fff; filter: dropshadow(color=#fff, offx=0, offy=1);}
    p {font-size: $p-font-size; color: $dark; width: 90%; margin: 0 auto; line-height: .9 * $base-line-height;}
  }
}
.top {border-bottom: 1px solid #b9b7b3;}
// #home-cta {background-color: #cecbc3; 
//   .cta {margin: 20px 0;
//     h5 {font-size: $h4-font-size; margin: 0 0 15px;  text-transform: uppercase; color: #8b8a87; text-shadow: 0px 1px 0px #fff; filter: dropshadow(color=#fff, offx=0, offy=1); }
//   }
//   .button {display: block; width: 100%; margin: 0 auto;}
//   img {width: 80px; height: 80px; background: $white; border-radius: $global-rounded; padding: 15px; border: 5px solid #efefe4; float: left; margin-right: 15px;}
//   .top {border-bottom: 1px solid #b9b7b3;
//     p {font-size: $p-font-size; line-height: .9 * $base-line-height; margin-bottom: 15px; padding-top: 5px;}
//   }

// }
#home-cta {background: url('../images/advertise-bg.jpg') repeat-x 0 0 #cecbc3;  min-height: 288px;
  .cta-bg {background: url('../images/advertise-bg.jpg') repeat-x 0 0 #cecbc3;}
  .cta {background-image: url('../images/cta-bg.png'); background-repeat: no-repeat; background-color: transparent; background-size: 236px 473px; position: relative; z-index: 1; width: 236px; height: 236px; margin: 36px auto;
    h5 {text-align: center; font-size: $h6-font-size; padding: 45px 0 0px; margin-bottom: 0;color: $dark; text-transform: capitalize;}
  }
  .cta-interact {margin: 0 auto; width: 75%; text-align: center; position: relative; 
    .icon {display: none; line-height: 1;}
  }
  img {width: 40px; height: 40px; padding: 0; border-radius: 0; background: transparent; border: none; float: none; margin: 0;}
  .top p {padding: 15px 0; margin-bottom: 0; font-size: .7 * $p-font-size; line-height: $base-line-height;}
  .button {display: inline-block; width: auto;}
  .bottom {text-align: center; padding-top: 30px; padding-bottom: 30px; border-top: 1px solid #e2e2da; 
    p {font-size: emCalc(20px);}
  }
}
/*****************************************************************************
 * TABLET - 768px wide and up. This is where the grid changes.
******************************************************************************/
@media #{$tablet} { 
  #call-out {
    .sign-up {
       p {width: 60%; margin-bottom: 0;}
    }    
  }
  #home-cta {
    .cta {
      h5 {padding: 40px 0 0;}
    }
  }
}

/*****************************************************************************
 * DESKTOP - 1280px wide and up.
******************************************************************************/
@media #{$desktop} {
  #call-out {
    .sign-up {
      p {font-size: 1.2 * $p-font-size; width: 60%;}
    }    
  }
  #home-cta {
    .cta {background-size: 289px 576px; background-position: 0 0; width: 289px; height: 288px; z-index: 9;
      h5 {padding: 50px 0 15px; margin-bottom: 0;}
    }
    .cta-interact {height: 145px; width: 79%; margin-top: 0;
      .icon {font-size: 85px; display: block; color: $primary; margin: 0;}
    }
    img {width: 95px; height: 95px; margin: 0 auto;}
    .top p {font-size: .8 * $p-font-size; cursor: default; padding: 0;}
    .button {margin-top: 10px;}
  }
}

/*****************************************************************************
 * LARGE DESKTOP - 1440px wide and up. 
******************************************************************************/
@media #{$large-desktop} {

}