/*****************************************************************************
 * NAVIGATION STYLES.
******************************************************************************/


/*****************************************************************************
 * MOBILE - BTWEEN 0px - 767px.
******************************************************************************/
#navigation {position: absolute; width: 100%; z-index: 10; background: $black;
  a.logo {margin: 12px 0; width: 50%; display: block; position: relative; z-index: 2;
    img {width: 100%; height: auto; max-width: 190px;}
  }
  .nav-trigger {overflow: hidden; cursor: pointer; z-index: 20; position: absolute; right: 20px; top: 18px; background: url('../images/nav-icon.png') no-repeat scroll transparent; height: 25px; width: 26px; background-size: 26px 50px;}
  .top-bar {z-index: 1; width: 100%; position: absolute; top: 0; right: 100%; margin: 0; margin: 0; padding: 65px 20px 0; background: $black;
    ul {margin: 0;}
    li {border-top: 1px solid #202020; padding: 0; margin: 0;}
    a {cursor: pointer; color: $primary; display: block; border-top: 1px solid #3b3b3b; padding: 10px 20px; text-transform: uppercase; text-align: center;
      &:hover{color: #dedede;}
    }
  }
}

/*****************************************************************************
 * TABLET - 768px wide and up. This is where the grid changes.
******************************************************************************/
@media #{$tablet} { 
  #navigation {
    -webkit-box-shadow:  0px 10px 10px rgba(0,0,0,0.2);
    box-shadow:  0px 10px 10px rgba(0,0,0,0.2);
    a.logo {margin: 12px auto; width: 25%;
      img {max-width: 220px;}
    }
    .nav-trigger {top: 25px;}
    .top-bar { padding: 75px 20px 0; }
  }
}

/*****************************************************************************
 * DESKTOP - 1280px wide and up.
******************************************************************************/
@media #{$desktop} {
  #navigation {position: fixed; height: 62px; padding-top: 10px; background: none;
    -webkit-box-shadow:  0px 0px 0px rgba(0,0,0,0);
    box-shadow:  0px 0px 0px rgba(0,0,0,0);
    a.logo {margin: 0; float: left; position: relative; z-index: 300;
      img {max-width: 270px;}
    }
    nav.top-bar {height: 42px; background: none; position: relative; right: 0; top: 0; padding: 0; 
      ul {margin-top: 10px; overflow: hidden;}
      ul li {float: left; margin: 0 15px; list-style-type: none; border: none; padding: 10px 0;
        //&:nth-child(1) {margin-top: 0px; margin-right: 20px;}
        &:nth-child(1) a {border-left: 1px solid #fff; padding-left: 20px; margin-left: 0;}
        a {color: #fff; border: none; padding: 0; 
          &:hover {color: $primary;};
        }
      }  
    }
  .desktop-nav-bg {background: $black; height: 85px; width: 100%; position: absolute; top: 0; z-index: 0; -webkit-box-shadow:  0px 10px 10px rgba(0,0,0,0.2); box-shadow:  0px 10px 10px rgba(0,0,0,0.2);}
  }

}
.front #navigation .desktop-nav-bg {top: -85px;}

/*****************************************************************************
 * LARGE DESKTOP - 1440px wide and up. 
******************************************************************************/
@media #{$large-desktop} {

}